<div class="">
	<div class="page-header">
		<h1>Torus Pattern</h1>
	</div>

	<div class="hidden-print">
		<p class="lead">Generate a crochet pattern for a donut.</p>

		<p>
			The <em>hole circumference</em> is the size around the hole of the
			torus.
			The number of <em>rows</em> (and your gauge) decides how 'fat' your
			torus will be.

			<em>Regular increases</em> results in a pattern that is not
			quite as accurate, but will usually end up with a more even-looking
			ball.
		</p>
	</div>
</div>
<div class="hidden-print well form-horizontal" role="form">
	<div class="form-group">
		<label for="init-stitches" class="col-sm-4 control-label">Hole
			Circumference:</label>

		<div class="col-sm-8">
			<div class="input-group">
				<input id="init-stitches" class="form-control" type="number"
					   max="1000"
					   ng-model="init_stitches">
				<span class="input-group-addon">Stitches</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="row-count" class="col-sm-4 control-label">Row
			Count:</label>

		<div class="col-sm-8">
			<input id="row-count" class="form-control" type="number" min="10"
				   max="1000" ng-model="row_count">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-8">
			<label>
				<input type="checkbox" ng-model="snap">
				Regular Increases
			</label>
		</div>
	</div>
</div>
<div>
	<h2 class="hidden-print">Your Pattern</h2>

	<p class="visible-print">
		A pattern for a crocheted torus, with an inside circumference of {{
		init_stitches }} stitches and {{row_count}} rows.
	</p>

	<div ng-repeat="pattern_line in pattern() track by $index"><b>Row
		{{$index + 1}}:</b> {{pattern_line[0]}} ({{pattern_line[1]}}
		stitches)
	</div>
</div>


